
.popup {
    &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #7e8383;
    opacity: 0.2;
}
    &__content {
        position: absolute;
        background: #fff;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.3);
        z-index: 3
    }
    .delete-event-btn {
        margin-left: 3px;
        border: none;
        background-color: transparent;
        
    }
}

.popup-hiden{
  display:none
}